* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #f4f6f8;
  color: #0f0b2e;
}

nav {
  background-color: white;
  padding: 10px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  padding-right: 10px;
}

nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0f0b2e;
}

nav button {
  color: white;
  background-color: #5a45fe;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
}

.container {
  padding: 0 150px;
}

.first {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.first h1 {
  font-size: 68px;
  font-weight: 600;
}

.first p {
  font-size: 19px;
  font-weight: 500;
  padding-top: 24px;
}

.download {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 40px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 23px;
}

.rating p {
  font-size: 12px;
  padding: 0;
}

.benifits {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  padding: 60px 50px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-bottom: 16px;
}

.icons span {
  font-size: 20px;
  font-weight: 600;
  color: #0f0b2e;
}

.icons p {
  font-size: 16px;
  color: #0f0b2e;
}

.icons i {
  font-size: 30px;
  color: #ccc5ff;
}

.manage {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border-radius: 12px;
  margin-top: 12px;
  padding: 0 50px;
}

.list-box h2 {
  font-size: 40px;
  font-weight: 600;
}

.listOfManage {
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.listOfManage span {
  font-size: 20px;
}

.steps {
  background-color: white;
  padding: 70px 0;
  border-radius: 12px;
  text-align: center;
  margin-top: 12px;
}

.steps span {
  font-size: 20px;
  font-weight: 500;
}

.steps h1 {
  font-size: 56px;
  font-weight: 500;
}
